@import 'fonts', 'main-head', 'merchandize', 'manufacturing';

body{
    margin: 0;
}

.send-request-btn{
    font-family: 'RF Dewi expanded';
    font-size: 1rem;
    width: 16.5rem;
    height: 4rem;
    background-color: #F4DF74;
    border-radius: 10px;
    transition: all 0.3s;
    text-align: center;
}

.send-request-btn:hover{
    cursor: pointer;
    background-color: #eed245;
    transform: scale(105%);
}

.section-title{
    font-family: 'RF Dewi expanded';
    font-size: 3rem;
    text-align: center;
}

.desc{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: center;
}
